<h1>{{ title }}</h1>
<div class="container">
	<demo-heroes #heroesComp></demo-heroes>
	<div class="card hero-edit">
		<h2>Ajouter un nouveau héro :</h2>
		<form #heroForm="ngForm" class="form-inline"
			(ngSubmit)="validateHero($event, heroForm)">
			<label class="mr-2" for="name">Nom</label>
			<input id="name" name="name" #nameCtrl="ngModel"
				class="form-control mr-2" [(ngModel)]="newHeroName" required />
			<button class="btn btn-primary"
				[disabled]="heroForm.invalid">Ajouter</button>
			<div class="alert alert-danger alert-dismissible fade show"
				[ngStyle]="{'opacity': nameCtrl.invalid && nameCtrl.dirty ? 1 : 0}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				Nom du héro obligatoire
			</div>
		</form>
	</div>
</div>